{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}
{% block page_title %}Posts{% endblock %}

{% block body %}
    {% if app.user %}
        <div>
            <p>Añadir un nuevo post</p>
            {{ form(form) }}
        </div>
    {% else %}
        <div>
            <p>Sólo los usuarios autenticados pueden crear posts.</p>
        </div>
    {% endif %}

    {# Esto es un comentario #}

    {# {{}} <- PARA VARIABLES Y FUNCIONES #}

    {# {% %} <- OPERACIONES LÓGICAS, DECLARACION DE VARIABLES #}

    {# Filters #}
    {#
        {{ 'hola mundo' | capitalize}}
        {{ 'hola mundo' | upper}}
    #}

    <div class="mt-5">
        <p>Posts</p>
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Titulo</td>
                    <td>Descripcion</td>
                    <td>Fecha de creacion</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td><a href="{{ path('postDetail', {id: post.id}) }}">Ver</a></td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.description }}</td>
                        <td>{{ post.creation_date|date('d/m/Y H:i') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
