{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {{ form(form) }}
    {{ dump(posts) }}

    {# Esto es un comentario #}

    {# {{}} <- PARA VARIABLES Y FUNCIONES #}

    {# {% %} <- OPERACIONES LÓGICAS, DECLARACION DE VARIABLES #}

    {# Filters #}
    {#
        {{ 'hola mundo' | capitalize}}
        {{ 'hola mundo' | upper}}
    #}

    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Titulo</td>
                <td>Descripcion</td>
                <td>Fecha de creacion</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.creation_date|date('d/m/Y H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
